<div class="topbar">
  <div class="wrap">
    <div class="contacts">
      <a href="mailto:info@shroyalschools.ng">info@shroyalschools.ng</a>
      <a href="tel:+2348073747650">+234 807 374 7650</a>
      <a href="tel:+2348070586860">+234 807 058 6860</a>
    </div>
    <div class="socials">
      <a href="https://wa.me/2348073747650" target="_blank" rel="noopener">WhatsApp</a>
      <a href="https://www.facebook.com/share/1EnMRT3Lrq/" target="_blank" rel="noopener">Facebook</a>
      <a href="https://www.instagram.com/shroyal_schools" target="_blank" rel="noopener">Instagram</a>
      <a href="https://youtube.com/@shroyalschools" target="_blank" rel="noopener">YouTube</a>
      <a href="/ar/" class="lang-switch" lang="ar" dir="rtl">العربية</a>
    </div>
  </div>
</div>
